<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head', { title: 'Sign up' }) %>
  <body class=" d-flex justify-content-center align-items-center vh-100" >

    <div class="container p-4 shadow rounded-4 overflow-hidden " style="max-width: 900px;background-color: rgb(244, 236, 227) !important;">
      <div class="row g-0">
        <!-- Left Section (Form) -->
        <div class="col-md-6  p-5 d-flex flex-column justify-content-center">
          <h1><b>Create Account</b></h1>

          <a href="/auth/google" class="btn btn-light border-0 d-flex align-items-center justify-content-center gap-2 mb-3 mt-2" style="background-color: #ccc4c0!important;">
            <img src="/images/google.png" alt="Google" width="30" height="30" >
            <span>Signup with Google</span>
          </a>

          <div class="text-center mb-3 text-muted">
            <hr class="my-2" />
            <span class="position-relative px-2 " style="top: -18px; background-color: rgb(244, 236, 227) !important;"><b>or</b></span>
          </div>

          <form action="/signup" method="POST" >
            <div class="mb-3">
              <input type="email" name="email" class="form-control rounded-2 px-3 py-2" placeholder="Email" required />
            </div>

             <div class="mb-3">
              <input type="password" name="password" class="form-control rounded-2 px-3 py-2" placeholder="Password" required />
            </div>
           
             <div class="mb-3">
              <input type="password" name="cpassword" class="form-control rounded-2 px-3 py-2" placeholder="Confirm Password" required />
            </div>
           
            <button type="submit" class="btn w-100 rounded-2 py-2 text-white" style="background-color: #4e4039;">SignUp</button>
          </form>

          <p class="mt-4 text-center text-muted">
            Already have an account? <a href="/login" class="text-primary text-decoration-none">Login now..!</a>
          </p>
        </div>

        <!-- Right Section (Image) -->
        <div class="col-md-6 d-none d-md-block">
          <img src="/images/sign-up.png" alt="Login Visual" class="img-fluid h-100 w-100 object-fit-cover" style="object-fit: cover;" />
        </div>
      </div>
    </div>

  </body>
</html>
